<div class="people-item">
    <div class="wrap panel panel-default">
        <div class="panel-heading">
            Details
            <span class="btn-settings glyphicon glyphicon-cog"></span>
        </div>
        <div class="panel-body">
            <label>Name</label>
            <p>{{name}}</p>

            <label>Tags</label>
            <p class="tags">{{#each tags}}
                <span class="label label-primary">{{tag}}</span>
                {{/each}}
            </p>
        </div>
    </div>
</div>
