<div class="people-item panel panel-default">
    <div class="panel-heading">
        Details
        <a class="btn-settings" data-toggle="dropdown" role="button" href="#settings-menu">
            <i class="icon-chevron-sign-down"></i>
        </a>
        <ul id="settings-menu" class="people-item__settings dropdown-menu" role="menu" aria-labelledby="settings1">
            <li role="presentation">
                <a href="javascript:void(0);" role="menuitem" data-action="delete">Delete Person</a>
            </li>
        </ul>
    </div>
    <div class="panel-body">

        <div class="form-group" data-attr="name">
            <label>Name</label>
            {{> editable name}}
        </div>

        <div class="form-group" data-attr="email">
            <label>Email</label>
            {{> editable email}}
        </div>

        <label>Tags</label>
        <p class="tags">{{#each tags}}
            <span class="label label-primary">{{tag}}</span>
            {{/each}}
        </p>

    </div>

</div>
