.text-muted {
    font-style: italic;
}
#peoplepool {
    position: relative;
    width: 80%;
    margin: 4% auto;
}
#people-list {
}
#peoplepool .people-item {
    .btn-settings {
        text-align: right;
        float: right;
        color: @gray-dark;
        cursor: pointer;
    }
    .tags .label {
        cursor: pointer;
    }
    .btn-settings {
        float: right;
        color: @gray-light;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
.people-item__settings {
    position: absolute;
    top: 2em;
    left: 70%;
    &.open {
        display:block;
    }
}
.editable {
    position: relative;
    cursor: pointer;
    line-height: 2.45em;
    
    input {
        width: 96%;
    }

    input[type=text], .input {
        width: 96%;
        display: block;
    }

    i.edit-icon.fa {
        position: absolute;
        left: 97%;
        top: 30%;
        color: @gray-light;
        display: none;
    }

    &:hover > i.edit-icon.fa {
        display: block;
    }

    .tags {
        .label {
            position: relative;
            display: inline-block;
            margin: 0 .2em;
            line-height: 1.35em;
        }

        .tag-panel {
            position: absolute;
            padding: 4px 2px;
            z-index: 3;

            font-size: @font-size-base;
            background-color: @dropdown-bg;
            border: 1px solid @dropdown-fallback-border; // IE8 fallback
            border: 1px solid @dropdown-border;
            border-radius: @border-radius-base;
            .box-shadow(0 6px 12px rgba(0,0,0,.175));

            .tag-delete {
                margin-left: .3em;
            }

            .label {
                display: block;
            }
        }
    }

    &.editable-edit {
        .tags {
            padding: 0 .4em;
            width: auto;
            position: absolute;
            top: -1px;
	    }
    }
}
.form-group {
    // bootstrap-tagsinput fix 
    .bootstrap-tagsinput {
        width: 100%;
    }
    .label {
        margin: .2em;
    }
}
