#peoplepool {
	position: relative;
	width: 80%;
	margin: 4% auto;
}

#people-list {
}

#peoplepool .people-item {
	
	.btn-settings {
	    text-align: right;
	    float: right;
	    color: @gray-dark;
	    cursor: pointer;
	}

	.tags .label {
		cursor: pointer;
	}

	.btn-settings {
		float: right;
		color: @gray-light;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

}

.people-item__settings {
	position: absolute;
	top: 2em;
	left: 40%;
	
	&.open {
		display:block;
	}
}

.editable {
	position: relative;
	cursor: pointer;
	line-height: 2.45em;

	span {
		width: 90%;
		overflow: hidden;
		display: block;
	}
	
	i[class^="icon-"] {
		position: absolute;
		left: 92%;
		top: 30%;
		color: @gray-light;
		display: none;
	}

	&:hover i[class^="icon-"] {
		display: block;
	}
}

.light {
	font-style: italic;
	color: @gray-light;
}