@charset "utf-8";

#peoplepool {
	position: relative;
	width: 20em;
	margin: 2em auto;
}

#people-list {
}

#peoplepool .people-item {
	min-width: 15em;
	left: 101%;
	top: 0;
	position: absolute;
}

#peoplepool .people-item .btn-settings {
    text-align: right;
    float: right;
    color: rgba(0, 0, 0, .25);
    cursor: pointer;
}

#peoplepool .people-item .tags .label {
	cursor: pointer;
}

.people-item__settings {
	position: absolute;
	top: 2em;
	left: 40%;
}

.people-item__settings.open {
	display:block;
}

.settings {
	float: right;
	color: #ccc;
}

a:hover.settings, a:focus.settings {
	text-decoration: none;
}
